<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
  <tr>
    <th>Character:</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
    <th>Name:</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
    <th>Phone:</th>
    <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.image %></td>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <td><%= profile.name %></td>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <td><%= profile.phone %></td>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>      <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <td><%= link_to 'Show', profile %></td>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <% if current_user.id===2 %>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New profile', new_profile_path %>
